<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ album }}</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <ul class="nav">
        <li class="navL" id="home-btn"><a href="/">Photoshare</a></li>
        <li class="navL"><a href="/search">Search</a></li>

        {% if current_user.is_authenticated %}
            <li class="navR" id="dropdown">
                <a href="/profile">{{ current_user.name }}</a>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/albums">Albums</a>
                    <a href="/my_friends">Friends</a>
                    <a href="/logout">Log Out</a>
                </div>
            </li>
            <li class="navR"><a href="/upload">Upload</a></li>
        {% else %}
            <li class="navR"><a href="/login">Log In</a></li>
            <li class="navR"><a href="/register">Register</a></li>
        {% endif %}
    </ul>


    {% if current_user.is_authenticated %}
        <form id=delete_album_form" method="post" action="{{ url_for('delete_album', album_id=album }}">
            <div id="divAlbumDelete">
                <button id="btnAlbumDelete" type="button" onclick="confirmAlbumDelete()">Delete This Album</button>
            </div>
        </form>
        <form id="albumPhotos" method="post" action="/albums">
            <h2>Here are your photos</h2>
            {% if photos %}
                <table>
                    {% for photo_batch in photos|batch(3) %}
                        <tr>
                            {% for photo in photo_batch %}
                                <td>
                                    <a href="/photo/{{ photo[0] }}">
                                        <img id="{{ photo[0] }}"
                                         class="tablePhoto"
                                         name="photo"
                                         src="{{ url_for('get_photo', filename=photo[1]) }}"
                                         alt="{{ photo[0] }}">
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>You currently do not have any photos in this album. How about uploading some.</p>
            {% endif %}
            </form>
    {% else %}
        <h2>Please <a href="/login">log in</a></h2>
    {% endif %}

    <script src="static/script.js"></script>
</body>
</html>