<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ album }}</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <ul class="nav">
        <li class="navL" id="home-btn"><a href="/">Photoshare</a></li>
        <li class="navL"><a href="/search">Search</a></li>

        {% if current_user.is_authenticated %}
            <li class="navR" id="dropdown">
                <a href="/profile">{{ current_user.name }}</a>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/albums">Albums</a>
                    <a href="/profile">Photos</a>
                    <a href="/logout">Log Out</a>
                </div>
            </li>
            <li class="navR"><a href="/upload">Upload</a></li>
        {% else %}
            <li class="navR"><a href="/login">Log In</a></li>
            <li class="navR"><a href="/register">Register</a></li>
        {% endif %}
    </ul>

    <form id="albumPhotos" method="post" action="/albums">
        {% if current_user.is_authenticated %}
            <div id="divAlbumDelete">
                <button id="btnAlbumDelete" type="button" onclick="confirmAlbumDelete()">Delete This Album</button>
            </div>
            <h2>Here are your photos</h2>
            {% if photos %}
                <table>
                    {% for photo_batch in photos|batch(3) %}
                        <tr>
                            {% for photo in photo_batch %}
                                <td>
                                    <img id="{{ photo[0] }}"
                                     class="tablePhoto"
                                     name="photo"
                                     src="{{url_for('get_photo', filename=photo[1])}}"
                                     alt="{{ photo[0] }}"
                                     onclick="{{url_for('photo', photo_id=photo[0])}}">
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>You currently do not have any photos in this album. How about uploading some.</p>
            {% endif %}
        {% else %}
            <h2>Please <a href="/login">log in</a></h2>
        {% endif %}
        <input class="invisible" id="invAlbum" type="text" name="photo_id" value="" disabled="true" style="display: none;">
    </form>

    <script src="static/script.js"></script>
</body>
</html>