<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ album }}</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <ul class="nav">
        <li class="navL" id="home-btn"><a href="/">Photoshare</a></li>
        <li class="navL"><a href="/search">Search</a></li>

        {% if current_user.is_authenticated %}
            <li class="navR" id="dropdown">
                <a href="/profile">{{ current_user.name }}</a>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/albums">Albums</a>
                    <a href="/profile">Photos</a>
                    <a href="/logout">Log Out</a>
                </div>
            </li>
            <li class="navR"><a href="/upload">Upload</a></li>
        {% else %}
            <li class="navR"><a href="/login">Log In</a></li>
            <li class="navR"><a href="/register">Register</a></li>
        {% endif %}
    </ul>

    <form id="albumPhotos" method="post" action="/albums">
        {% if current_user.is_authenticated %}
            <div id="divAlbumDelete">
                <button id="btnAlbumDelete" type="button" onclick="confirmAlbumDelete()">Delete This Album</button>
            </div>
            <h2>Here are your photos</h2>
            {% if photos %}
                <ul>
                    {% for photo in photos %}
                        <!--add stuff here-->
                    {% endfor %}
                </ul>
            {% else %}
                <p>You currently do not have any albums. How about creating a new one.</p>
            {% endif %}
        {% else %}
            <h2>Please <a href="/login">log in</a></h2>
        {% endif %}
    </form>

    <table>
        <caption>Photos</caption>
        <tr>
            <td>Month</td>
            <td>Savings</td>
        </tr>
    </table>

</body>
</html>