<!DOCTYPE html>
<html>
<head>
    <title>Search for Friends</title>
</head>
<body>
    <div id="friendSearch">
        <form action="/action_page.php">
            First name: <input type="text" name="fname"><br>
            Last name: <input type="text" name="lname"><br>
            Email: <input type="email" name="email"><br>
            <input type="submit">
        </form>
    </div>

    <br>

    {% if users %}
        <ul>
            {% for user in users %}
                <li>{{ fname }} {{ lname }}</li>
                <li><button id="addFriend" type="button" onclick="addFriend()">Add Friend</button></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>None</p>
    {% endif %}

    <script src="static/script.js"></script>
</body>
</html>