<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photoshare</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <ul class="nav">
        <li class="navL" id="home-btn"><a href="/">Photoshare</a></li>
        <li class="navL"><a href="/search">Search</a></li>

        {% if current_user.is_authenticated %}
            <li class="navR" id="dropdown">
                <a href="/profile">{{ current_user.name }}</a>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/albums">Albums</a>
                    <a href="/profile">Photos</a>
                    <a href="/logout">Log Out</a>
                </div>
            </li>
            <li class="navR"><a href="/upload">Upload</a></li>
        {% else %}
            <li class="navR"><a href="/login">Log In</a></li>
            <li class="navR"><a href="/register">Register</a></li>
        {% endif %}
    </ul>

    <div id="topPhotos">
        {% if photos %}
            <h2>Check out these top photos</h2>
            <ul>
            {% for photo in photos %}
                <li>{{ photo[2] }}<br>
                <img src='data:image/png;base64, {{photo[0]}}'/></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div id="topUsers">
        {% if top_users %}
            <ul class="contributors">
                <li><div class="topUser">Top Contributors:</div> <div class="points">Points:></div></li>
                {% for user in top_users %}
                    <li><div class="topUser">{{ user[0] }}</div> <div class="points">{{ user[1] }}></div></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <ul>
        <li><a href='/upload'>Upload a photo</a> </li>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Home</a></li>
        <li><a href='/search'>Search</a> </li>
        <li><a href='/register'>Register</a></li>
        <li><a href='/photo'>Photo</a></li>
        <li><a href='/unauth'>Unauthorized</a></li>
        <li><a href='/profile'>Profile</a></li>
        <li><a href='/search_friends'>Search for Friends</a></li>
        <li><a href='/login'>login</a></li>
    </ul>
</body>
</html>

