<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photoshare</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
    <ul class="nav">
        <li class="navL" id="home-btn"><a href="/">Photoshare</a></li>
        <li class="navL"><a href="/search">Search</a></li>

        {% if current_user.is_authenticated %}
            <li class="navR" id="dropdown">
                <a href="/profile">{{ current_user.name }}</a>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/albums">Albums</a>
                    <a href="/my_friends">Friends</a>
                    <a href="/logout">Log Out</a>
                </div>
            </li>
            <li class="navR"><a href="/upload">Upload</a></li>
        {% else %}
            <li class="navR"><a href="/login">Log In</a></li>
            <li class="navR"><a href="/register">Register</a></li>
        {% endif %}
    </ul>

    <div class="homepage_style">
        <div id="topPhotos">
            <h2>Check out these top photos</h2>
            {% if top_photos %}
                <table>
                    {% for photo_batch in top_photos|batch(3) %}
                        <tr>
                            {% for photo in photo_batch %}
                                <td>
                                    <a href="/photo/{{ photo[0] }}">
                                        <img id="{{ photo[0] }}"
                                         class="tablePhoto"
                                         name="photo"
                                         src="{{ url_for('get_photo', filename=photo[1]) }}"
                                         alt="{{ photo[0] }}">
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>There are currently no top photos. How about uploading some?</p>
            {% endif %}
        </div>

        {% if mayLikePhotos %}
            <div id="mayLikePhotos">
                <h2>You may also like these photos</h2>
                <table>
                    {% for photo_batch in mayLikePhotos|batch(3) %}
                        <tr>
                            {% for photo in photo_batch %}
                                <td>
                                    <a href="/photo/{{ photo[0] }}">
                                        <img id="mayLike{{ photo[0] }}"
                                         class="tablePhoto"
                                         name="photo"
                                         src="{{ url_for('get_photo', filename=photo[1]) }}"
                                         alt="{{ photo[0] }}">
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        <div id="topUsers">
            <ul class="contributors">
                <li><span class="topUser"><b>Top Contributors:</b></span><span class="points"><b>Points:</b></span></li>
                {% if top_users %}
                    {% for user in top_users %}
                        <li>
                            <div class="topUser2">
                                {{loop.index}}. {{ user[0] }}
                            </div>
                            <div
                                class="points2">{{ user[2] }}
                            </div></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div id="popularTags">
            <ul class="topTags">
                <li><div class="topTag"><b>Most Popular Tags:</b></div></li>
                {% if top_tags %}
                    {% for tag in top_tags %}
                        <li><div class="topTag2"><a href="/search" name="topTag" value="{{ tag }}">{{ tag }}</a></div></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</body>
</html>

