<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photoshare</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <ul class="nav">
        <li class="navL" id="home-btn"><a href="/">Photoshare</a></li>
        <li class="navL"><a href="/search">Search</a></li>

        {% if current_user.is_authenticated %}
            <li class="navR" id="dropdown">
                <a href="/profile">{{ current_user.name }}</a>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/albums">Albums</a>
                    <a href="/profile">Photos</a>
                    <a href="/logout">Log Out</a>
                </div>
            </li>
            <li class="navR"><a href="/upload">Upload</a></li>
        {% else %}
            <li class="navR"><a href="/login">Log In</a></li>
            <li class="navR"><a href="/register">Register</a></li>
        {% endif %}
    </ul>

{% if message %}
    <h4>{{message}}!</h4>
{% endif %}
    <title>Photoshare</title>
{% if name %}
    <h1>Hello {{ name }}!</h1>
{% else %}
    <h1>Hello Guest</h1>
{% endif %}

{% if photos %}
    <h2>Here's your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{ photo[2] }}<br>
        <img src='data:image/png;base64, {{photo[0]}}'/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
    <p>You should <a href='/login'>login!</a></p>
{% else %}
    <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
</ul>

<ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/search'>Search</a> </li>
    <li><a href='/register'>Register</a></li>
    <li><a href='/photo'>Photo</a></li>
    <li><a href='/unauth'>Unauthorized</a></li>
    <li><a href='/profile'>Profile</a></li>
    <li><a href='/search_friends'>Search for Friends</a></li>
    <li><a href='/login'>login</a></li>
</ul>
</body>
</html>

