<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Friends</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <ul class="nav">
        <li class="navL" id="home-btn"><a href="/">Photoshare</a></li>
        <li class="navL"><a href="/search">Search</a></li>

        {% if current_user.is_authenticated %}
            <li class="navR" id="dropdown">
                <a href="/profile">{{ current_user.name }}</a>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/albums">Albums</a>
                    <a href="/profile">Photos</a>
                    <a href="/logout">Log Out</a>
                </div>
            </li>
            <li class="navR"><a href="/upload">Upload</a></li>
        {% else %}
            <li class="navR"><a href="/login">Log In</a></li>
            <li class="navR"><a href="/register">Register</a></li>
        {% endif %}
    </ul>

    {% if friends %}
        <ul>
            {% for friend in friends %}
                <li>{{ friend[0] }} {{ friend[1] }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You currently have no friends. How about <a href="/search_friends>">searching</a> for some.</p>
    {% endif %}

    <form action="/search_friends">
        <input type="submit" value="Search for friends">
    </form>
</body>
</html>