<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Friends</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <ul class="nav">
        <li class="navL"><a href="/">Photoshare</a></li>
        <li class="navL"><a href="/search">Search</a></li>

        {% if name %}
            <li class="navR"><a href="/profile">{{ name }}</a></li>
        {% else %}
            <li class="navR"><a href="/login">Log In</a></li>
            <li class="navR"><a href="/register">Register</a></li>
        {% endif %}
    </ul>

    {% if friends %}
        <ul>
            {% for friend in friends %}
                <li>{{ fname }} {{ lname }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>None</p>
    {% endif %}

    <form action="/search_friends">
        <input type="submit" value="Search for friends">
    </form>
</body>
</html>