<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <ul class="nav">
        <li class="navL" id="home-btn"><a href="/">Photoshare</a></li>
        <li class="navL"><a href="/search">Search</a></li>

        {% if current_user.is_authenticated %}
            <li class="navR" id="dropdown">
                <a href="/profile">{{ current_user.name }}</a>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/albums">Albums</a>
                    <a href="/profile">Photos</a>
                    <a href="/logout">Log Out</a>
                </div>
            </li>
            <li class="navR"><a href="/upload">Upload</a></li>
        {% else %}
            <li class="navR"><a href="/login">Log In</a></li>
            <li class="navR"><a href="/register">Register</a></li>
        {% endif %}
    </ul>

    <img id="photo" src="{{url_for('get_photo', filename=filename)}}" alt="Can not display photo">

    <br>

    <div>
        <p>Likes: {{ likesCount }}</p>
        <button id="btnLikePhoto" onclick="likePhoto(this.id)">Like</button>
    </div>

    <br>

    <div id="divTags">
        <button id="btnTags" onclick="showDiv(this.id, 'photoTags')">Show Tags</button>
        <div id="photoTags" style="display:none;">
            {% if tags %}
                <p>{{ tags }}</p>
            {% else %}
                <p>None</p>
            {% endif %}
        </div>
    </div>


    <br>
    <div id="divLikes">
        <button id="btnLikes" onclick="showDiv(this.id, 'photoLikes')">Show Likes</button>
        <div id="photoLikes" style="display:none;">
            {% if names %}
                <p>{{ names }}</p>
            {% else %}
                <p>None</p>
            {% endif %}
        </div>
    </div>

    <br>

    <form>
        Characters left: <label id="counter">500</label><br>

        <textarea id="comment" style="resize:none" onkeyup="changeCharCounter()" rows="5"
                  cols="100" maxlength="500" placeholder="Enter comment here..."></textarea>
        <br>
        <button id="btnSubmitComment" type="button" onclick="submitComment()">Submit Comment</button>
    </form>

    {% if comments %}
        <ul>
            {% for comment in photos %}
                <li><a id="commenter"href = '/album?photo_id={{photo[2]}}'><b>{{comments[0]}}</b></a></li>
                <li>{{comments[1]}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>None</p>
    {% endif %}

    <script src="static/script.js"></script>
</body>
</html>