<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <canvas id="photoCanvas" onload="addPhoto()" width="200" height="100" style="border:1px solid #000000;">
        Your browser cannot display the photo.
    </canvas>

    <br>

    <button class="accordion">Tags</button>
    <div class="panel">
        {% if tags %}
            <p>{{ tags }}</p>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>

    <br>

    <button class="accordion">Liked By</button>
    <div class="panel">
        {% if names %}
            <p>{{ names }}</p>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>

    <br>

    <form autocomplete="off">
        Characters left: <label id="counter">500</label><br>

        <textarea id="comment" style="resize:none" onkeyup="changeCharCounter()" rows="5"
                  cols="100" maxlength="500" placeholder="Enter comment here..."></textarea>
        <br>
        <button id="btnSubmitComment" type="button" onclick="submitComment()">Submit Comment</button>
    </form>

    <script src="static/script.js"></script>
</body>
</html>