<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <ul class="nav">
        <li class="navL" id="home-btn"><a href="/">Photoshare</a></li>
        <li class="navL"><a href="/search">Search</a></li>

        {% if current_user.is_authenticated %}
            <li class="navR" id="dropdown">
                <a href="/profile">{{ current_user.name }}</a>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/albums">Albums</a>
                    <a href="/profile">Photos</a>
                    <a href="/logout">Log Out</a>
                </div>
            </li>
            <li class="navR"><a href="/upload">Upload</a></li>
        {% else %}
            <li class="navR"><a href="/login">Log In</a></li>
            <li class="navR"><a href="/register">Register</a></li>
        {% endif %}
    </ul>

    <p>{{ name }}</p>
    <p>{{ dob }}</p>
    <p>{{ hometown }}</p>
    <p>{{ gender }}</p>

    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/albums'>Albums</a></li>
        <li><a href='/photos'>Photos</a></li>
        <li><a href='/friends'>Search for Friends</a></li>
        <li><a href='/search_friends'>Search for Friends</a></li>
        <li><a href='/my_friends'>My Friends</a></li>
        <li><a href='/likes'>Likes</a></li>
        <li><a href='/comments'>Comments</a></li>
    </ul>
</body>
</html>