<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <p>{{ name }}</p>
    <p>{{ dob }}</p>
    <p>{{ hometown }}</p>
    <p>{{ gender }}</p>

    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/albums'>Albums</a></li>
        <li><a href='/photos'>Photos</a></li>
        <li><a href='/friends'>Search for Friends</a></li>
        <li><a href='/my_friends'>My Friends</a></li>
        <li><a href='/likes'>Likes</a></li>
        <li><a href='/comments'>Comments</a></li>
    </ul>
</body>
</html>