<!DOCTYPE html>
<html>
<head>
    <title>Search for Friends</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <ul class="nav">
        <li class="navL" id="home-btn"><a href="/">Photo Share</a></li>
        <li class="navL"><a href="/search">Search</a></li>

        {% if current_user.is_authenticated %}
            <li class="navR" id="dropdown">
                <a href="/profile">{{ current_user.name }}</a>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/albums">Albums</a>
                    <a href="/profile">Photos</a>
                    <a href="/logout">Log Out</a>
                </div>
            </li>
            <li class="navR"><a href="/upload">Upload</a></li>
        {% else %}
            <li class="navR"><a href="/login">Log In</a></li>
            <li class="navR"><a href="/register">Register</a></li>
        {% endif %}
    </ul>

    <div id="friendSearch">
        <form method="post" action="/search_friends">
            First name: <input type="text" name="fname"><br>
            Last name: <input type="text" name="lname"><br>
            Email: <input type="email" name="email"><br>
            <input type="submit" value="Search">
        </form>
    </div>

    <br>

    {% if users %}
        <ul>
            {% for user in users %}
                <li>{{ user[1] }} {{ user[2] }}
                    {% if user[3] == '0' %}
                        <button class="addFriend" id="{{ user[0] }}" type="button" onclick="addFriend(this.id)">Add Friend</button>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>None</p>
    {% endif %}

    <form action="/my_friends">
        <input type="submit" value="My friends">
    </form>

    <label class="invisible" id="invFriend" name="user_id" value=""></label>

    <script src="static/script.js"></script>
</body>
</html>
