<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<ul class="nav">
        <li class="navL" id="home-btn"><a href="/">Photoshare</a></li>
        <li class="navL"><a href="/search">Search</a></li>

        {% if current_user.is_authenticated %}
            <li class="navR" id="dropdown">
                <a href="/profile">{{ current_user.name }}</a>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/albums">Albums</a>
                    <a href="/my_friends">Friends</a>
                    <a href="/logout">Log Out</a>
                </div>
            </li>
            <li class="navR"><a href="/upload">Upload</a></li>
        {% else %}
            <li class="navR"><a href="/login">Log In</a></li>
            <li class="navR"><a href="/register">Register</a></li>
        {% endif %}
    </ul>

	<form action="/results/" method = "POST">
        <div>
            <p>Search for Photos:</p>
            <p>Tags: <input type="text" name="searchTags"/></p>
            <span class="radioBtn">
                <label class="container">
                    <input id="rbAll" type="radio" checked="checked" name="radioAll" onclick="validateSelection()">
                    All
                </label>
            </span>
            <span class="checkBoxes">
                <label class="container">
                    <input id="cbMy" type="checkbox" name="checkMy" onclick="validateSelection()">
                    My Photos
                </label>
                <label class="container">
                    <input id="cbFriends" type="checkbox" name="checkFriends" onclick="validateSelection()">
                    Friends' Photos
                </label>
            </span>
            <p><input type="submit" name="Search" value="Search"/></p>
        </div>

        <div id="popularTags">
            <ul class="topTags">
                <li><span>Most Popular Tags:</span></li>
                {% if top_tags %}
                    {% for tag in top_users %}
                        <li><a href="/search" name="topTag" value="{{ tag }}">{{ tag }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
	</form>

    <script src="static/script.js"></script>
</body>
</html>
